@import url('https://fonts.googleapis.com/css?family=Roboto:300');
.revelando {
    text-align: center;
    background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    color: #555;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 32px;
    /*padding-top: 40vh;
    height: 30px;*/
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#uno {
    /*display: inline-block;*/
    overflow: hidden;
    white-space: nowrap;
    animation: showup 7s infinite;
}

#dos {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    animation: reveal 7s infinite;
}

#dos span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 355px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 355px;
    }
}

.div-imagen {
            /*display: inline-block;
            position: relative;*/
            background: url('../img/inicioPrueba.jpg') no-repeat center center fixed;
            background-size: cover;
            width: 100%;
            height: 600px;
        }

        /*.div-imagen > div {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 500;
                padding: 0;
                margin: 0;
                height:inherit;
        }*/

        /*.desvanecer:hover {
            opacity: 0.7;
            -webkit-transition: opacity 500ms;
            -moz-transition: opacity 500ms;
            -o-transition: opacity 500ms;
            -ms-transition: opacity 500ms;
            transition: opacity 500ms;
            z-index: 500;
        }*/

        /* Center the loader */
#loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid black;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

@-webkit-keyframes spin {
      0% {
                -webkit-transform: rotate(0deg);
            }

     100% {
                -webkit-transform: rotate(360deg);
            }
        }
@keyframes spin {
       0% {
                transform: rotate(0deg);
            }

       100% {
                transform: rotate(360deg);
            }
        }

        /* Add animation to "page content" */
.animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

@-webkit-keyframes animatebottom {
      from {
                bottom: -100px;
                opacity: 0
            }

      to {
                bottom: 0px;
                opacity: 1
            }
        }

@keyframes animatebottom {
      from {
                bottom: -100px;
                opacity: 0
            }

      to {
                bottom: 0;
                opacity: 1
            }
        }

#myDivLanding {
            display: none;
            
        }
.divPadreBio
{
	background:rgba(57,57,57,.8);
	width:50%;
	height:100%;
	padding:20px;
	text-align:left
}

.divHijoBio
{
	padding-top:30%;
 	padding-bottom:30%;
	padding-right:10px;
 	width:inherit
}

.tituloBioLanding
{
	color:yellow;
}

.cortoBioLanding
{
	color:white;
}

